body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background: #e5e7eb;
}
